/**
 * SECTIONS STYLE
 */

section.info.icon{
	display:table;
}
section.info.title{
	display:table-cell;
	vertical-align:middle;
}
section.info.row{
	display:table;
}

section.grey{
	background-color: #E8E8E8;
}

section .title{

	font-size: 5rem;
	font-weight: 800;

}

section .sub-title{
font-size: 2.25rem;

}
